<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    
    <div class="container">
        <div class="row">
            <div class="col-1">
                <img src="https://img.freepik.com/free-photo/hand-holding-tree-blur-green-nature_34152-1963.jpg?size=626&ext=jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button type="button" class="btn btn-primary">More</button>
            </div>
            <div class="col-1">
                <img src="https://img.freepik.com/free-photo/hand-holding-tree-blur-green-nature_34152-1963.jpg?size=626&ext=jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button type="button" class="btn btn-primary">More</button>
            </div>
           
        </div>
    </div>
    <!---footer--->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
            </div>
            <div class="footer-col-2">
                <img src="https://visme.co/blog/wp-content/uploads/2017/08/40-Creative-Logo-Designs-to-Inspire-You-Movers-logo.jpg">
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blogs</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>

                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>FaceBook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>

                </ul>
            </div>
           
            
        </div>
        <hr>
        <p>Copyright 2020</p>
    </div>
</div>

</body>
</html>